* {
    margin: 0;
    padding: 0;
}
.c_container {
    height: 100%;
    overflow: auto;
    background-color: #efeff4;
    width: 100%;
}
.c_content {
    margin-bottom: 60px;
}
.c_toolbar {
    z-index: 999;
    height: 60px;
    position: fixed;
    background-color: #ffffff;
    bottom: 0;
    padding: 5px 5px;
    width: 100%;
    text-align: center;
    line-height: 50px;
}
.c_topbar {
    z-index: 999;
    height: 40px;
    position: fixed;
    color: #ffffff;
    font-weight: bolder;
    top: 30px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    background-color:rgba(0, 0, 0,0.7)
}
.c_bottombar{
    z-index: 999;
    height: 40px;
    position: fixed;
    color: #ffffff;
    font-weight: bolder;
    bottom: 60px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    background-color:rgba(0, 0, 0,0.7)
}
.c_toolbar_home {
    float: left;
    width: 18%;
    cursor: pointer;
}
.c_toolbar_share {
    float: left;
    width: 18%;
    cursor: pointer;
}
.c_toolbar_browser {
    float: left;
    width: 32%;
    cursor: pointer;
    color: #ffffff;
    font-weight: bolder;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: linear-gradient(left, #f7cc45, #f09937);
    background: -ms-linear-gradient(left, #f7cc45, #f09937);
    background: -webkit-linear-gradient(left, #f7cc45, #f09937);
    background: -moz-linear-gradient(left, #f7cc45, #f09937);
}
.c_toolbar_buy {
    float: left;
    width: 32%;
    cursor: pointer;
    color: #ffffff;
    font-weight: bolder;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(left, #ed7e30, #e95727);
    background: -ms-linear-gradient(left, #ed7e30, #e95727);
    background: -webkit-linear-gradient(left, #ed7e30, #e95727);
    background: -moz-linear-gradient(left, #ed7e30, #e95727);}
.swiper-slide img {
    width: 100%;
}
.c_active_price_tag {
    color: #ed6d27;
    font-size: 15px;
}
.c_active_price {
    color: #ed6d27;
    font-size: 25px;
}
.c_info_text {
    color: #8c8c8c;
    font-size: 12px;
}
.c_info_disable{
    text-decoration:line-through;
}
.c_xs_tag {
    background-color: #fdf6f2;
    padding: 2px 10px;
    border-radius: 10px;
    color: #ea521c;
    font-size: 12px;
}
.c_sm_tag {
    background-color: #fdf6f2;
    padding: 5px 10px;
    border-radius: 12px;
    color: #ea521c;
    font-size: 15px;
}
.c_center_text {
    text-align: center;
}
.c_info_content {
    width: 100%;
    padding: 10px;
    overflow:auto;
    background-color: #ffffff;
}
.c_info_title {
    font-size: medium;
    font-weight: bolder;
}
.c_icon {
    width: 20px;
    height: 20px;
}
.c_div_10px {
    height: 10px;
}
.c_coupon_content {
    border-radius: 8px;
    overflow: auto;
    padding: 10px 5px;
    background: linear-gradient(left, #f09937, #f7cc45);
    background: -ms-linear-gradient(left, #f09937, #f7cc45);
    background: -webkit-linear-gradient(left, #f09937, #f7cc45);
    background: -moz-linear-gradient(left, #f09937, #f7cc45);
}
.c_coupon_clear {
    float: left;
    width: 100%;
    height: 5px;
}
.c_coupon_info {
    float: left;
    width: 60%;
    text-align: left;
}
.c_coupon_num {
    float: left;
    width: 40%;
    text-align: right;
}
.c_coupon_time {
    float: left;
    width: 100%;
    text-align: left;
}
.c_coupon_text {
    color: #ffffff;
    font-size: 12px;
}
.c_goods_info_col {
    float: left;
    width: 50%;
    font-size: 12px;
    text-align: center;
    color: #8c8c8c;
}
.c_font_size_12 {
    font-size: 12px;
}
.c_info_color_white {
    color: #ffffff;
}