<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>优惠商品</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <script type="text/javascript">var ctx = '${ctx}'</script>
        <link type="text/css" rel="stylesheet" href="${ctx}/static/plugins/mui/css/mui.min.css">
        <link type="text/css" rel="stylesheet" href="${ctx}/static/css/tb/goods_list.css">
        <link type="text/css" rel="stylesheet" href="${ctx}/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body class="c_container">
        <div id="mask" class="c_screen_mask" align="middle">
            <div id="mask_info" class="c_screen_mask_info"></div>
        </div>
        <div class="c_header">
            <div class="c_header_icon">
                <img class="c_header_icon_logo" src="${ctx}/static/image/icon/findcoupon.png">
            </div>
            <div class="c_header_text">
                <form action="#" >
                    <input id="keyword" type="search" placeholder="请输入"/>
                    <img id="clearBtn" onclick="clearText()" src="${ctx}/static/image/icon/delete.png">
                    <input type="text" style="display:none;"/>
                </form>
            </div>
            <div class="c_header_icon" onclick="toJdHelpUi()">
                <img class="c_header_icon_logo" src="${ctx}/static/image/icon/course.png">
            </div>
        </div>
        <div class="c_search">
            <div class="c_search_left">
                <div class="c_search_left_item">
                    <div class="c_search_left_item_col_1 c_active_item" id="item_default" value="1">默认</div>
                    <div class="c_search_left_item_col_2" id="item_price" value="0">价格&nbsp;<img src="${ctx}/static/image/icon/up_down.png"/></div>
                    <div class="c_search_left_item_col_2" id="item_number" value="0">销量&nbsp;<img src="${ctx}/static/image/icon/up_down.png"/></div>
                </div>
            </div>
            <div  class="c_search_right">
                <div class="c_search_right_item">
                    <div class="c_search_right_item_col" id="item_tmall" value="0"><img src="${ctx}/static/image/icon/unselect.png"/>&nbsp;天猫</div>
                    <div class="c_search_right_item_col" id="item_coupon" value="0"><img src="${ctx}/static/image/icon/unselect.png"/>&nbsp;优惠券</div>
                </div>
            </div>
        </div>
        <!--下拉刷新容器-->
        <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <!--数据列表-->
                <ul class="mui-table-view mui-table-view-chevron"></ul>
            </div>
        </div>
        <div class="c_footer">
            <a color="#000" href="http://www.beian.miit.gov.cn/">陕ICP备19015519号</a>
        </div>
    </body>
    <script type="text/javascript" src="${ctx}/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="${ctx}/static/plugins/mui/js/mui.min.js"></script>
    <script type="text/javascript" src="${ctx}/static/js/tb/goods_list.js"></script>
</html>